
.TopBarStyle {
    position: "fixed";
    top: 0;
    display: "flex";
    justify-content: "space-between";
    align-Items: "center";
    width: "100%";
    height: 40;
    background-Color: rgba(255, 255, 255, 1);
    border-Bottom: 1px solid rgba(0, 0, 0, 1);
    font-Weight: "bold";
    padding: "0px 20px";
    box-Sizing: "border-box";
  }

  .TopBarStyle .AppLogo {
      margin: 5px;
      background: transparent;
      display: flex;
      float: left;
  }